In [34]:
import pandas as pd

In [35]:
data = pd.read_excel("ab.xlsx")

In [36]:
data.head()

,Founders_Entrepreneurship_skills_score,Founders_Operations_skills_score,Founders_Engineering_skills_score,Founders_Marketing_skills_score,Founders_Leadership_skills_score,Founders_Data_Science_skills_score,Founders_Business_Strategy_skills_score,Founders_Product_Management_skills_score,Founders_Sales_skills_score,Founders_Domain_skills_score
0,15.882353,11.764706,15.000000,12.941176,0.000,8.823529,21.764706,10.882353,2.941176,0.000000
1,9.401709,0.000000,57.478632,0.000000,0.000,3.846154,17.094017,9.401709,0.000000,2.777778
2,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
3,6.250000,0.000000,3.125000,15.625000,9.375,3.125000,6.250000,3.125000,3.125000,0.000000
4,0.000000,0.000000,10.112045,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000

In [37]:
from sklearn.cluster import KMeans

In [38]:
cluster = KMeans(5)

In [39]:
inputs = data.iloc[:,1:]

In [40]:
data["cluster"] = cluster.fit_predict(inputs)

In [45]:
data.head()

,Founders_Entrepreneurship_skills_score,Founders_Operations_skills_score,Founders_Engineering_skills_score,Founders_Marketing_skills_score,Founders_Leadership_skills_score,Founders_Data_Science_skills_score,Founders_Business_Strategy_skills_score,Founders_Product_Management_skills_score,Founders_Sales_skills_score,Founders_Domain_skills_score,cluster
0,15.882353,11.764706,15.000000,12.941176,0.000,8.823529,21.764706,10.882353,2.941176,0.000000,4
1,9.401709,0.000000,57.478632,0.000000,0.000,3.846154,17.094017,9.401709,0.000000,2.777778,2
2,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,6.250000,0.000000,3.125000,15.625000,9.375,3.125000,6.250000,3.125000,3.125000,0.000000,0
4,0.000000,0.000000,10.112045,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0

In [46]:
coef_df=pd.DataFrame(columns=range(33))

In [47]:
data["cluster"].value_counts()

0    69
4    65
1    49
3    30
2    21
Name: cluster, dtype: int64

In [52]:
data.to_excel(ClustGar.xlsx)

NameError: name 'ClustGar' is not defined