In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [67]:
data = pd.read_csv("Startup_data.csv")

In [68]:
data.describe()

,Success,Company_investor_count_seed,Company_investor_count_Angel_VC,Company_cofounders_count,Company_advisors_count,Company_senior_team_count,Company_repeat_investors_count,Founder_university_quality,Founders_Popularity,Founders_fortune1000_company_score,...,Founders_Leadership_skills_score,Founders_Data_Science_skills_score,Founders_Business_Strategy_skills_score,Founders_Product_Management_skills_score,Founders_Sales_skills_score,Founders_Domain_skills_score,Company_competitor_count,Company_1st_investment_time,Company_avg_investment_time,Company_analytics_score
count,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,...,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000,234.000000
mean,0.495726,1.448718,0.777778,2.072650,1.243590,4.290598,0.760684,1.905983,0.833333,0.272650,...,2.906936,6.362701,10.302821,3.468255,3.319419,4.732593,1.893162,16.705128,11.140988,0.940171
std,0.501054,2.737347,1.663086,1.160444,2.253386,2.475840,1.399875,1.791649,0.373477,0.382026,...,5.531376,10.133789,10.034738,5.083160,5.385571,7.731530,3.458106,21.025496,15.321532,1.050572
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.070833,0.000000
50%,0.000000,0.000000,0.000000,2.000000,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,2.941176,7.425214,0.000000,0.000000,0.000000,0.000000,12.000000,7.383333,1.000000
75%,1.000000,2.000000,1.000000,3.000000,1.000000,6.000000,1.000000,4.000000,1.000000,0.500000,...,4.750157,9.861111,17.647059,5.555556,5.555556,5.882353,3.000000,20.000000,12.000000,2.000000
max,1.000000,17.000000,9.000000,7.000000,13.000000,14.000000,10.000000,4.000000,1.000000,1.000000,...,40.000000,80.000000,47.058824,25.000000,33.333333,44.444444,28.000000,156.000000,156.000000,4.000000

In [69]:
data.head()

,Success,ID,Company_Location,Company_raising_fund,Company_Industry_count,Company_mobile_app,Company_investor_count_seed,Company_investor_count_Angel_VC,Company_cofounders_count,Company_advisors_count,...,Company_avg_investment_time,Company_crowdsourcing,Company_crowdfunding,Company_big_data,Company_analytics_score,Company_Product_or_service,Company_subscription_offering,Founder_highest_degree_type,Company_difficulty_obtaining_workforce,Company_Founder_Patent
0,1,Company2,USA,No,Few,Yes,5,0,2,0,...,9.000000,Yes,No,No,2,Product,No,Management,Medium,Yes
1,1,Company3,USA,No,Few,No,15,0,3,0,...,7.344444,No,No,No,1,Both,Yes,Science,Medium,Yes
2,1,Company5,USA,No,Few,No,7,0,1,1,...,9.822222,No,No,No,0,Product,No,Technology,Medium,Yes
3,1,Company6,USA,No,Few,No,2,0,4,0,...,9.322222,No,No,No,0,Service,No,Science,Medium,Yes
4,1,Company8,USA,No,Few,No,0,0,3,4,...,6.400000,No,No,No,2,Both,No,Management,Medium,No

In [70]:
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
#I dropped the skills below as they are included in founder skills score

In [72]:
data = data.drop(["Founders_Entrepreneurship_skills_score"],axis=1)

In [73]:
data = data.drop(["Founders_Operations_skills_score"],axis=1)

In [74]:
data = data.drop(["Founders_Engineering_skills_score"],axis=1)

In [75]:
data = data.drop(["Founders_Marketing_skills_score"],axis=1)

In [76]:
data = data.drop(["Founders_Leadership_skills_score"],axis=1)

In [77]:
data = data.drop(["Founders_Data_Science_skills_score"],axis=1)

In [78]:
data = data.drop(["Founders_Business_Strategy_skills_score"],axis=1)

In [79]:
data = data.drop(["Founders_Product_Management_skills_score"],axis=1)

In [80]:
data = data.drop(["Founders_Sales_skills_score"],axis=1)

In [81]:
data = data.drop(["Founders_Domain_skills_score"],axis=1)

In [82]:
data = data.drop(["Company_business_model"],axis=1)

In [83]:
data = data.drop(["ID"],axis=1)

In [84]:
data["Company_Location"] = data["Company_Location"].astype("category").cat.reorder_categories(["USA","Europe","Other"]).cat.codes
data["Company_Location"] = data["Company_Location"].where(data["Company_Location"]==0,1)

In [85]:
data["Founders_previous_company_employee_count"] = data["Founders_previous_company_employee_count"].astype("category").cat.reorder_categories(["Large","Small","Medium"]).cat.codes
data["Founders_previous_company_employee_count"] = data["Founders_previous_company_employee_count"].where(data["Founders_previous_company_employee_count"]==0,1)

In [86]:
data.head()

,Success,Company_Location,Company_raising_fund,Company_Industry_count,Company_mobile_app,Company_investor_count_seed,Company_investor_count_Angel_VC,Company_cofounders_count,Company_advisors_count,Company_senior_team_count,...,Company_avg_investment_time,Company_crowdsourcing,Company_crowdfunding,Company_big_data,Company_analytics_score,Company_Product_or_service,Company_subscription_offering,Founder_highest_degree_type,Company_difficulty_obtaining_workforce,Company_Founder_Patent
0,1,0,No,Few,Yes,5,0,2,0,4,...,9.000000,Yes,No,No,2,Product,No,Management,Medium,Yes
1,1,0,No,Few,No,15,0,3,0,7,...,7.344444,No,No,No,1,Both,Yes,Science,Medium,Yes
2,1,0,No,Few,No,7,0,1,1,8,...,9.822222,No,No,No,0,Product,No,Technology,Medium,Yes
3,1,0,No,Few,No,2,0,4,0,4,...,9.322222,No,No,No,0,Service,No,Science,Medium,Yes
4,1,0,No,Few,No,0,0,3,4,4,...,6.400000,No,No,No,2,Both,No,Management,Medium,No

In [87]:
data["Company_raising_fund"] = data["Company_raising_fund"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [88]:
data["Company_mobile_app"] = data["Company_mobile_app"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [90]:
data = data.drop(["Founders_top_company_experience"],axis=1)

In [51]:
data["Company_top_Angel_VC_funding"] = data["Company_top_Angel_VC_funding"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [91]:
data = data.drop(["Founders_startup_experience"],axis=1)

In [92]:
data = data.drop(["Founders_previous_company_employee_count"],axis=1)

In [93]:
data.dtypes

Success                                     int64
Company_Location                             int8
Company_raising_fund                         int8
Company_Industry_count                     object
Company_mobile_app                           int8
Company_investor_count_seed                 int64
Company_investor_count_Angel_VC             int64
Company_cofounders_count                    int64
Company_advisors_count                      int64
Company_senior_team_count                   int64
Company_top_Angel_VC_funding               object
Company_repeat_investors_count              int64
Founders_big_5_experience                  object
Founders_experience                        object
Founders_global_exposure                   object
Founders_Industry_exposure                 object
Founder_education                          object
Founder_university_quality                  int64
Founders_Popularity                         int64
Founders_fortune1000_company_score        float64
Founders_profile_similarity                object
Founders_publications                      object
Founders_skills_score                     float64
Company_incubation_investor                object
Company_competitor_count                    int64
Company_1st_investment_time                 int64
Company_avg_investment_time               float64
Company_crowdsourcing                      object
Company_crowdfunding                       object
Company_big_data                           object
Company_analytics_score                     int64
Company_Product_or_service                 object
Company_subscription_offering              object
Founder_highest_degree_type                object
Company_difficulty_obtaining_workforce     object
Company_Founder_Patent                     object
dtype: object

In [94]:
data = data.drop(["Founders_big_5_experience"],axis=1)

In [95]:
data["Founders_global_exposure"] = data["Founders_global_exposure"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [96]:
data["Company_incubation_investor"] = data["Company_incubation_investor"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [97]:
data["Company_big_data"] = data["Company_big_data"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [98]:
data["Company_crowdsourcing"] = data["Company_crowdsourcing"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [99]:
data["Company_crowdfunding"] = data["Company_crowdfunding"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [100]:
data["Company_subscription_offering"] = data["Company_subscription_offering"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [101]:
data.dtypes

Success                                     int64
Company_Location                             int8
Company_raising_fund                         int8
Company_Industry_count                     object
Company_mobile_app                           int8
Company_investor_count_seed                 int64
Company_investor_count_Angel_VC             int64
Company_cofounders_count                    int64
Company_advisors_count                      int64
Company_senior_team_count                   int64
Company_top_Angel_VC_funding               object
Company_repeat_investors_count              int64
Founders_experience                        object
Founders_global_exposure                     int8
Founders_Industry_exposure                 object
Founder_education                          object
Founder_university_quality                  int64
Founders_Popularity                         int64
Founders_fortune1000_company_score        float64
Founders_profile_similarity                object
Founders_publications                      object
Founders_skills_score                     float64
Company_incubation_investor                  int8
Company_competitor_count                    int64
Company_1st_investment_time                 int64
Company_avg_investment_time               float64
Company_crowdsourcing                        int8
Company_crowdfunding                         int8
Company_big_data                             int8
Company_analytics_score                     int64
Company_Product_or_service                 object
Company_subscription_offering                int8
Founder_highest_degree_type                object
Company_difficulty_obtaining_workforce     object
Company_Founder_Patent                     object
dtype: object

In [64]:
data["Company_Founder_Patent"] = data["Company_Founder_Patent"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [102]:
data["Company_Founder_Patent"] = data["Company_Founder_Patent"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [104]:
data["Company_Industry_count"] = data["Company_Industry_count"].astype("category").cat.reorder_categories(["Few","single","Many"]).cat.codes
data["Company_Industry_count"] = data["Company_Industry_count"].where(data["Company_Industry_count"]==0,1)

In [105]:
data["Company_top_Angel_VC_funding"] = data["Company_top_Angel_VC_funding"].astype("category").cat.reorder_categories(["Yes","No"]).cat.codes

In [106]:
data["Founders_experience"] = data["Founders_experience"].astype("category").cat.reorder_categories(["High","Medium","Low"]).cat.codes
data["Founders_experience"] = data["Founders_experience"].where(data["Founders_experience"]==0,1)

In [108]:
data["Founder_education"] = data["Founder_education"].astype("category").cat.reorder_categories(["Masters","PhD","Bachelors"]).cat.codes
data["Founder_education"] = data["Founder_education"].where(data["Founder_education"]==0,1)

In [109]:
data["Founders_profile_similarity"] = data["Founders_profile_similarity"].astype("category").cat.reorder_categories(["High","Medium","Low","None"]).cat.codes
data["Founders_profile_similarity"] = data["Founders_profile_similarity"].where(data["Founders_profile_similarity"]==0,1)

In [110]:
data.dtypes

Success                                     int64
Company_Location                             int8
Company_raising_fund                         int8
Company_Industry_count                       int8
Company_mobile_app                           int8
Company_investor_count_seed                 int64
Company_investor_count_Angel_VC             int64
Company_cofounders_count                    int64
Company_advisors_count                      int64
Company_senior_team_count                   int64
Company_top_Angel_VC_funding                 int8
Company_repeat_investors_count              int64
Founders_experience                          int8
Founders_global_exposure                     int8
Founders_Industry_exposure                 object
Founder_education                            int8
Founder_university_quality                  int64
Founders_Popularity                         int64
Founders_fortune1000_company_score        float64
Founders_profile_similarity                  int8
Founders_publications                      object
Founders_skills_score                     float64
Company_incubation_investor                  int8
Company_competitor_count                    int64
Company_1st_investment_time                 int64
Company_avg_investment_time               float64
Company_crowdsourcing                        int8
Company_crowdfunding                         int8
Company_big_data                             int8
Company_analytics_score                     int64
Company_Product_or_service                 object
Company_subscription_offering                int8
Founder_highest_degree_type                object
Company_difficulty_obtaining_workforce     object
Company_Founder_Patent                       int8
dtype: object

In [111]:
data["Founders_Industry_exposure"] = data["Founders_Industry_exposure"].astype("category").cat.reorder_categories(["High","Medium","Low"]).cat.codes
data["Founders_Industry_exposure"] = data["Founders_Industry_exposure"].where(data["Founders_Industry_exposure"]==0,1)

In [112]:
data["Founders_publications"] = data["Founders_publications"].astype("category").cat.reorder_categories(["Many","Few","None"]).cat.codes
data["Founders_publications"] = data["Founders_publications"].where(data["Founders_publications"]==0,1)

In [113]:
data["Company_Product_or_service"] = data["Company_Product_or_service"].astype("category").cat.reorder_categories(["Product","Service","Both"]).cat.codes
data["Company_Product_or_service"] = data["Company_Product_or_service"].where(data["Company_Product_or_service"]==0,1)

In [117]:
data["Company_difficulty_obtaining_workforce"] = data["Company_difficulty_obtaining_workforce"].astype("category").cat.reorder_categories(["High","Medium","Low"]).cat.codes
data["Company_difficulty_obtaining_workforce"] = data["Company_difficulty_obtaining_workforce"].where(data["Company_difficulty_obtaining_workforce"]==0,1)

In [118]:
data.dtypes

Success                                     int64
Company_Location                             int8
Company_raising_fund                         int8
Company_Industry_count                       int8
Company_mobile_app                           int8
Company_investor_count_seed                 int64
Company_investor_count_Angel_VC             int64
Company_cofounders_count                    int64
Company_advisors_count                      int64
Company_senior_team_count                   int64
Company_top_Angel_VC_funding                 int8
Company_repeat_investors_count              int64
Founders_experience                          int8
Founders_global_exposure                     int8
Founders_Industry_exposure                   int8
Founder_education                            int8
Founder_university_quality                  int64
Founders_Popularity                         int64
Founders_fortune1000_company_score        float64
Founders_profile_similarity                  int8
Founders_publications                        int8
Founders_skills_score                     float64
Company_incubation_investor                  int8
Company_competitor_count                    int64
Company_1st_investment_time                 int64
Company_avg_investment_time               float64
Company_crowdsourcing                        int8
Company_crowdfunding                         int8
Company_big_data                             int8
Company_analytics_score                     int64
Company_Product_or_service                   int8
Company_subscription_offering                int8
Founder_highest_degree_type                object
Company_difficulty_obtaining_workforce       int8
Company_Founder_Patent                       int8
dtype: object

In [119]:
degree = pd.get_dummies(data["Founder_highest_degree_type"])
degree.head()

   Management  Other  Science  Technology
0           1      0        0           0
1           0      0        1           0
2           0      0        0           1
3           0      0        1           0
4           1      0        0           0

In [120]:
data = data.join(degree)
data.head()

,Success,Company_Location,Company_raising_fund,Company_Industry_count,Company_mobile_app,Company_investor_count_seed,Company_investor_count_Angel_VC,Company_cofounders_count,Company_advisors_count,Company_senior_team_count,...,Company_analytics_score,Company_Product_or_service,Company_subscription_offering,Founder_highest_degree_type,Company_difficulty_obtaining_workforce,Company_Founder_Patent,Management,Other,Science,Technology
0,1,0,1,0,0,5,0,2,0,4,...,2,0,1,Management,1,0,1,0,0,0
1,1,0,1,0,1,15,0,3,0,7,...,1,1,0,Science,1,0,0,0,1,0
2,1,0,1,0,1,7,0,1,1,8,...,0,0,1,Technology,1,0,0,0,0,1
3,1,0,1,0,1,2,0,4,0,4,...,0,1,1,Science,1,0,0,0,1,0
4,1,0,1,0,1,0,0,3,4,4,...,2,1,1,Management,1,1,1,0,0,0

In [122]:
data = data.drop(["Founder_highest_degree_type"],axis=1)
data.head()

,Success,Company_Location,Company_raising_fund,Company_Industry_count,Company_mobile_app,Company_investor_count_seed,Company_investor_count_Angel_VC,Company_cofounders_count,Company_advisors_count,Company_senior_team_count,...,Company_big_data,Company_analytics_score,Company_Product_or_service,Company_subscription_offering,Company_difficulty_obtaining_workforce,Company_Founder_Patent,Management,Other,Science,Technology
0,1,0,1,0,0,5,0,2,0,4,...,1,2,0,1,1,0,1,0,0,0
1,1,0,1,0,1,15,0,3,0,7,...,1,1,1,0,1,0,0,0,1,0
2,1,0,1,0,1,7,0,1,1,8,...,1,0,0,1,1,0,0,0,0,1
3,1,0,1,0,1,2,0,4,0,4,...,1,0,1,1,1,0,0,0,1,0
4,1,0,1,0,1,0,0,3,4,4,...,1,2,1,1,1,1,1,0,0,0

In [123]:
data.dtypes

Success                                     int64
Company_Location                             int8
Company_raising_fund                         int8
Company_Industry_count                       int8
Company_mobile_app                           int8
Company_investor_count_seed                 int64
Company_investor_count_Angel_VC             int64
Company_cofounders_count                    int64
Company_advisors_count                      int64
Company_senior_team_count                   int64
Company_top_Angel_VC_funding                 int8
Company_repeat_investors_count              int64
Founders_experience                          int8
Founders_global_exposure                     int8
Founders_Industry_exposure                   int8
Founder_education                            int8
Founder_university_quality                  int64
Founders_Popularity                         int64
Founders_fortune1000_company_score        float64
Founders_profile_similarity                  int8
Founders_publications                        int8
Founders_skills_score                     float64
Company_incubation_investor                  int8
Company_competitor_count                    int64
Company_1st_investment_time                 int64
Company_avg_investment_time               float64
Company_crowdsourcing                        int8
Company_crowdfunding                         int8
Company_big_data                             int8
Company_analytics_score                     int64
Company_Product_or_service                   int8
Company_subscription_offering                int8
Company_difficulty_obtaining_workforce       int8
Company_Founder_Patent                       int8
Management                                  uint8
Other                                       uint8
Science                                     uint8
Technology                                  uint8
dtype: object

In [125]:
data["Success"].value_counts()/len(data)*100

0    50.42735
1    49.57265
Name: Success, dtype: float64

In [126]:
from sklearn.tree import DecisionTreeClassifier

In [127]:
model = DecisionTreeClassifier(random_state=47)

In [129]:
inputs = data.iloc[:,1:]
output = data["Success"]

In [130]:
model.fit(inputs,output)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=47, splitter='best')

In [131]:
model.score(inputs,output)*100

100.0

In [132]:
train, test = train_test_split(data,test_size=0.3)

In [133]:
len(test)

71

In [134]:
train, test = train_test_split(data,train_size=0.7)

In [135]:
len(train)

163

In [136]:
model_x = DecisionTreeClassifier(max_depth=5, random_state=50)

In [137]:
inputs_train,inputs_test,output_train,output_test = train_test_split(inputs,output,train_size=0.7)

In [138]:
model_x.fit(inputs_train,output_train)
model_x.score(inputs_test,output_test)*100

64.788732394366207

In [139]:
df = pd.DataFrame(index=list(data)[1:],data=model.feature_importances_)
df

                                               0
Company_Location                        0.000000
Company_raising_fund                    0.014246
Company_Industry_count                  0.019944
Company_mobile_app                      0.000000
Company_investor_count_seed             0.071037
Company_investor_count_Angel_VC         0.028333
Company_cofounders_count                0.052399
Company_advisors_count                  0.000000
Company_senior_team_count               0.109279
Company_top_Angel_VC_funding            0.000000
Company_repeat_investors_count          0.067110
Founders_experience                     0.000000
Founders_global_exposure                0.015386
Founders_Industry_exposure              0.000000
Founder_education                       0.014246
Founder_university_quality              0.006411
Founders_Popularity                     0.000000
Founders_fortune1000_company_score      0.044366
Founders_profile_similarity             0.000000
Founders_publications                   0.013025
Founders_skills_score                   0.100608
Company_incubation_investor             0.000000
Company_competitor_count                0.107381
Company_1st_investment_time             0.024672
Company_avg_investment_time             0.148191
Company_crowdsourcing                   0.000000
Company_crowdfunding                    0.000000
Company_big_data                        0.000000
Company_analytics_score                 0.070533
Company_Product_or_service              0.028749
Company_subscription_offering           0.000000
Company_difficulty_obtaining_workforce  0.000000
Company_Founder_Patent                  0.000000
Management                              0.011397
Other                                   0.013568
Science                                 0.031321
Technology                              0.007798

We can see that the most important factor is Company_avg_investment_time, another important feature that has influence on success is Company_competitor_count ...